* {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: black;
}
#navbar {
    background: linear-gradient(to bottom, #267916, #182e13);
    display: flex;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
    font-size: 30px;
    font-family: fantasy;
    font-weight: bolder;
    color: white;
}
div.about-me {
    display: inline-block;
    color: white;
    font-size: 25px;
}
h2 {
    font-family: fantasy;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 30px;

}
img {
    display: inline-block;
    width:40%;
    padding: 12px;
}
@media screen and (max-width: 480px) {
    #navbar a {
        font-size: 0.5rem;
        display: block;
    }
    #navbar #logo {
        font-size: 1rem;
        display: block;
    }
}