* {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: black;
}
#navbar {
    background: linear-gradient(to bottom, #267916, #182e13);
    display: flex;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
    font-size: 30px;
    font-family: serif;
    font-weight: bolder;
    color: white;
}
.prompt img {
    display: flex;
    width: 300px;
    padding: 20px;
    border-radius: white 20px;
}
.social-media h2 {
    color: white;
    text-decoration: underline;
    font-family: serif;
    display: flex;
}
.links a {
    text-decoration: none;
    display: flex;
}

@media screen and (max-width: 480px) {
    #navbar a {
        font-size: 0.3rem;
        display: block;
    }
    #navbar #logo {
        font-size: 0.9rem;
        display: block;
    }
    
}