* {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#navbar {
    background: linear-gradient(to bottom, rgb(38, 121, 22), hsl(0, 0%, 97%));
    display: flex;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: #e0642fe0;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
    font-size: 30px;
    font-family: fantasy;
    font-weight: bolder;
    color: #e0642f;
}
@media screen and (max-width: 480px) {
    #navbar a {
        font-size: 0.5rem;
        display: block;
    }
    #navbar #logo {
        font-size: 1rem;
        display: block;
    }
}