* {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(0, 0, 0);
    background-image: url("../images/green-2.jpg");
}
#navbar {
    background: linear-gradient(to bottom, #267916, #182e13);
    display: flex;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
    font-size: 30px;
    font-family: serif;
    font-weight: bolder;
    color: white;
}
.side-by-side {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    background-color: #f9f9f958;
    
}
.side-by-side .image-container {
    flex: 2;
  
}

.side-by-side .text-container {
    flex: 1;
    padding: 20px;
    text-align: center; 
   
}

.side-by-side .image-container img {
    width: 600px;
}

.side-by-side .text-container span {
    font-size: 30px;
    text-decoration: underline;
    color: black;
   
    font-family: cursive;
    text-align: center;
}
.side-by-side .text-container a {
    font-size: 30px;
    font-family: serif;
    text-decoration: none;
    margin: 9px;
    color: #000000;
    justify-items: center;
}


@media screen and (max-width: 480px) {
    #navbar a {
        font-size: 0.3rem;
        display: block;
    }
    #navbar #logo {
        font-size: 0.9rem;
        display: block;
    }
    .side-by-side {
        display: block;
    }
    .side-by-side .image-container img {
        width: 300px;
    }
}