* {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#navbar {
    background: linear-gradient(to bottom, rgb(38, 121, 22), hsl(0, 0%, 97%));
    display: flex;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: #e0642fe0;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
    font-size: 30px;
    font-family: fantasy;
    font-weight: bolder;
    color: #e0642f;
}
#layout h1 {
    color: #ffffff;
    background-color: rgba(20, 97, 20, 0.837);
    border-radius: 12px;
    font-family: fantasy;
    padding: 2vh 0vh ;
}
#layout h3 {
    color: #146014fe;
    font-family: cursive;

}
#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

.horizontal-masonry-gal {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.horizontal-masonry-gallery img {
    height: 250px;
    flex: 1;
    object-fit: cover;
}
@media screen and (max-width: 480px) {
    #navbar a {
        font-size: 0.5rem;
        display: block;
    }
    #navbar #logo {
        font-size: 1rem;
        display: block;
    }
}