* {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#navbar {
    background: linear-gradient(to bottom, #267916, #182e13);
    display: flex;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
    font-size: 30px;
    font-family: fantasy;
    font-weight: bolder;
    color: white;
}
#hero-1 {
    background-image: url("../images/self.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}
#hero-1 .hero-content {
    position: absolute;
    top: 25%;
    left: 15%;
    color: white;
    
}

#hero-1 h1 {
    font-size: 4vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
    font-family: fantasy;
}

#hero-1 p {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
    font-family: cursive;
}

#hero-1 a {
    font-size: 2vw;
    display: inline-block;
    background-color: #267916;
    color: white;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
    border-radius: 12px;
}
@media screen and (max-width: 480px) {
    #navbar a {
        font-size: 0.5rem;
        display: block;
    }
    #navbar #logo {
        font-size: 1rem;
        display: block;
    }
    #hero-1 h1 {
        font-size: 1rem;
    }
}