* {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#navbar {
    background: linear-gradient(to bottom, #267916, #182e13);
    display: flex;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
    font-size: 30px;
    font-family: serif;
    font-weight: bolder;
    color: white;
}
#hero-1 {
    background-image: url("../images/self.jpg");
    height: 600px;
    background-size: cover;
    background-position: center center;
    position: relative;
}
#hero-1 .hero-content {
    position: absolute;
    top: 25%;
    left: 15%;
    color: white;
    
}

#hero-1 h1 {
    font-size: 50px;
    margin-bottom: 40px;
    margin-right: 20px;
    font-family: fantasy;
}

#hero-1 p {
    font-size: 30px;
    margin: 0px 10px 0px 0px;
    font-family: cursive;
}

#hero-1 a {
    font-size: 16px;
    display: inline-block;
    background-color: #267916;
    color: white;
    text-decoration: none;
    padding: 24px;
    margin: 20px 10px 20px 0px;
    border-radius: 12px;
}
#hero-1 a {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

#hero-1:hover a {
    background-color: rgb(0, 0, 0);
    box-shadow: 4px 4px 4px #f6f6f633;
    transform: translateY(-4px);
}

#card-section {
    background-color: #161616;
    color: #f5f5f5;
    padding: 48px;
}
.card-container {
    display: flex;
    justify-content: space-between;
}
.card {
    flex: 1;
    border: 3px solid #ffffff;
    padding: 36px;
    text-align: center;
    margin: 36px;
}

.card h3 {
    font-size: 36px;
    margin: 0px;
}

.card a {
    font-size: 16px;
    display: inline-block;
    background-color: #267916;
    color: white;
    text-decoration: none;
    padding: 26px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
}
.card a {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

.card:hover a {
    background-color: rgb(0, 0, 0);
    box-shadow: 4px 4px 4px #f6f6f633;
    transform: translateY(-4px);
}


@media screen and (max-width: 480px) {
    #navbar a {
        font-size: 0.3rem;
        display: block;
    }
    #navbar #logo {
        font-size: 0.9rem;
        display: block;
    }
    #hero-1 h1 {
        font-size: 0.9rem;
    }
    #hero-1 p {
        font-size: 0.7rem;
    }
    .card-container {
        display: block;
        font-size: 0.3rem;
    }
    #hero-1 {
        height: 400px;
        width: 374px;
    }
    #hero-1 a {
        font-size: 0.6rem;
    }
    .card a {
        font-size: 0.6rem;
    }
}